h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;

}

p {
    font-family:Georgia, serif;
    font-size: 18px;
    color: #757575
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;
}